{{!-- exp means experience --}}

<style>
    .edu-container {
        border-radius: 10px;
        min-height: 80vh;
    }

    .one-added-edu {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
</style>

<script src="/script/jQuery.js"></script>

<div class="edu-container w-100 min-h-100 d-flex flex-column">

    <h3 class="text-center text-primary fw-bold">Your Added
        Educations</h3>


    <div class="left-container flex-grow-1 w-100 d-flex flex-wrap gap-3 p-2 justify-content-center align-items-center">

        {{#each thisEdu}}
        <div class="one-added-edu card p-2 h-25">
            <div class="card-header">
                <h5 class="text-capitalize">{{titleOfDocument}}</h5>
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="ps-3 card-title text-capitalize">{{nameOfUniversity}}</h5>
                <h5 class="ps-3 card-title text-capitalize">{{yearOfGraduation}}</h5>
                <h5 class="ps-3 card-title text-capitalize">{{CGPA}}</h5>
                <button id="{{_id}}" type="button" class="px-4 btn btn-danger text-white align-self-center">Delete </button>
            </div>

        </div>
        {{/each}}

    </div>

    <div class="d-flex justify-content-center">
        <button
                type="button"
                class="button is-link"
                data-toggle="modal"
                data-target="#addEduModal" >
            Add New Education
        </button>
    </div>

<!--    Modal-->

    <div class="modal fade"
         id="addEduModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         role="modal">

        <form method="post" action="education" id="add-edu-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h4
                                class="modal-title text-primary flex-grow-1 d-flex justify-content-center"
                                id="loginModalLabel">
                            Adding New Education
                        </h4>
                        <button
                                type="button"
                                class="close btn btn-danger border-0"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">
                                X
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p class="fs-3 text-center fw-bold text-success text-wrap w-100">
                            {{message}}
                        </p>

                        <label
                                for="universityName"
                                class="form-label fw-bold mt-4">
                            Name of University or College
                        </label>
                        <input
                                type="text"
                                name="universityName"
                                class="form-control fw-bold px-2 fs-5" required/>
                        <label
                                for="documentTitle"
                                class="form-label fw-bold mt-4">
                            Document Title of The Graduation
                        </label>
                        <input
                                type="text"
                                name="documentTitle"
                                class="form-control fw-bold px-2 fs-5" required/>

                        <label
                                for="graduationYear"
                                class="form-label fw-bold mt-4">
                            Year of Graduation
                        </label>
                        <input
                                type="month"
                                name="graduationYear"
                                class="form-control fw-bold px-2 fs-5" required/>

                        <label
                                for="cgpa"
                                class="form-label fw-bold mt-4">
                            CGPA
                        </label>
                        <input
                                type="number"
                                step="0.01"
                                min="2"
                                max="4"
                                name="cgpa"
                                id="about-me"
                                class="form-control fw-bold px-2 fs-5"
                                required
                                />
                    </div>

                    <div class="modal-footer ">
                            <input
                                    id="submit-button"
                                    type="submit"
                                    value="Add Education"
                                    class="w-100 justify-content-center btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    {{!-- right container --}}
    <!--
    <div class="right-container flex-grow-1 min-h-100 border border-warning d-flex flex-column gap-3 p-2">
        <h3 class="w-100 text-center text-warning fw-bold">Add Your New Education</h3>


        <p class="fs-3 text-center fw-bold text-success text-wrap w-100">

            {{message}}

        </p>

        <form class="container w-100 w-lg-75 h-100 d-flex flex-column align-items-center gap-3" method="post" action="education">
            <div class="form-group w-100">
                <label for="universityName" class="form-label fw-bold pt-2">Name of University or College</label>
                <input type="text" name="universityName" class="form-control fw-bold px-2 fs-5" required
                    value="{{universityName}}" />
            </div>
            <div class=" form-group w-100">
                <label for="documentTitle" class="form-label fw-bold pt-2">Document Title of The Graduation</label>
                <input type="text" name="documentTitle" class="form-control fw-bold px-2 fs-5" required
                    value="{{documentTitle}}" />
            </div>
            <div class="form-group w-100">
                <label for="graduationYear" class="form-label fw-bold pt-2">Year of Graduation</label>
                <input type="month" name="graduationYear" class="form-control fw-bold px-2 fs-5" required
                    value="{{graduationYear}}" />
            </div>
            <div class="form-group w-100">
                <label for="cgpa" class="form-label fw-bold mt-4">CGPA</label>
                <input type="number" step="0.01" min="2" max="4" name="cgpa" id="about-me"
                    class="form-control fw-bold px-2 fs-5" required value="{{cgpa}}" />
            </div>
            <div class="form-group w-50">
                <input type="submit" value="Add Education" class="btn btn-warning font-bold align-self-center w-100 fs-5">
            </div>
        </form>


    </div>-->

</div>

<script src="/script/education.js"></script>