{{!-- exp means experience --}}

<style>
    .edu-container {
        border-radius: 10px;
        min-height: 80vh;
    }
</style>

<div class="edu-container w-100 border border-primary p-2 d-flex gap-2">


    <div class="left-container w-50 min-h-100 border border-success d-flex flex-column gap-3 p-3">
        <h3 class="w-100 text-center text-success fw-bold">Your Added
            Educations</h3>

        <div class="one-added-edu card w-100 p-2">
            <div class="card-header">
                <h5>BA in Accounting</h5>
            </div>
            <div class="card-body">
                <h5 class="ps-3 card-title">University or College: Rift Valley University College</h5>
                <h5 class="ps-3 card-title">Year of Graduation: October, 2022</h5>
                <h5 class="ps-3 card-title">CGPA: 3.04</h5>
                <a href="education/edit/1" class="btn btn-primary ps-3">Edit Education</a>
                <button type="button" class=" btn btn-danger">Delete Education</button>
            </div>

        </div>
        <div class="one-added-edu card w-100 p-2">
            <div class="card-header">
                <h5>BSc in Surveying Engineering</h5>
            </div>
            <div class="card-body">
                <h5 class="ps-3 card-title">University or College: Arbaminch University</h5>
                <h5 class="ps-3 card-title">Year of Graduation: June, 2022</h5>
                <h5 class="ps-3 card-title">CGPA: 3.74</h5>
                <a href="education/edit/1" class="btn btn-primary ps-3">Edit Education</a>
                <button type="button" class=" btn btn-danger">Delete Education</button>
            </div>

        </div>

    </div>

    {{!-- right container --}}
    <div class="right-container w-50 min-h-100 border border-warning d-flex flex-column gap-3 p-3">
        <h3 class="w-100 text-center text-warning fw-bold">Add Your New Education</h3>


        <p class="fs-3 text-warning text-wrap text-underline text-center w-100">

            {{message}}

        </p>

        <form class="container w-75 h-100 d-flex flex-column align-items-center gap-3" method="post" action="education">
            <div class="form-group w-100">
                <label for="universityName" class="control-label fs-4">Name of University or College</label>
                <input type="text" name="universityName" class="form-control fw-bold p-2 fs-5" required
                    value={{universityName}}>
            </div>
            <div class="form-group w-100">
                <label for="documentTitle" class="control-label fs-4">Document Title of The Graduation</label>
                <input type="text" name="documentTitle" class="form-control fw-bold p-2 fs-5" required
                    value={{documentTitle}}>
            </div>
            <div class="form-group w-100">
                <label for="graduationYear" class="control-label fs-4">Year of Graduation</label>
                <input type="month" name="graduationYear" class="form-control fw-bold p-2 fs-5" required
                    value={{graduationYear}}>
            </div>
            <div class="form-group w-100">
                <label for="cgpa" class="control-label fs-4 ">CGPA</label>
                <input type="number" step="0.01" min="2" max="4" name="cgpa" id="about-me"
                    class="form-control fw-bold p-2 fs-5" required value={{cgpa}} />
            </div>
            <div class="form-group w-50">
                <input type="submit" value="Add Education" class="btn btn-primary align-self-center w-100 fs-5">
            </div>
        </form>


    </div>

</div>