<style>
    input,
    label {
        font-family: "Georgia", Times, serif;
    }
</style>

<div class="">
    <h1 class="w-100 text-center text-primary fw-bold text-uppercase p-3">Add Experience</h1>


    <p class="fs-3 text-warning text-wrap text-underline text-center w-100">

        {{message}}

    </p>

    <form class="container w-50 h-100 d-flex flex-column align-items-center gap-3" method="post" action="experience">
        <div class="form-group w-100">
            <label for="position" class="control-label fs-4">Position *</label>
            <input type="text" name="position" class="form-control fw-bold p-2 fs-3" required value={{position}}>
        </div>
        <div class="form-group w-100">
            <label for="startDate" class="control-label fs-4">Start Date *</label>
            <input type="date" name="startDate" class="form-control fw-bold p-2 fs-3" required value={{startDate}}>
        </div>
        <div class="form-group w-100">
            <label for="stillHere" class="control-label fs-4">
                Still I work Here
                <input id="checkbox" type="checkbox" name="stillHere" class="control-label fs-4">
            </label>

            <label for="endDate" class="control-label fs-4">End Date
                <input id="endDate" type="date" name="endDate" class="form-control fw-bold p-2 fs-3" required
                    value={{endDate}}>
            </label>
        </div>
        <div class="form-group w-100">
            <label for="companyName" class="control-label fs-4">Company Name</label>
            <input type="text" name="companyName" class="form-control fw-bold p-2 fs-3" required value={{email}}>
        </div>
        <div class="form-group w-100">
            <label for="aboutExperience" class="control-label fs-4 ">About The Experience *</label>
            <textarea name="aboutExperience" id="about-me" rows="5" class="form-control fw-bold p-2 fs-3"
                required>{{aboutExperience}}</textarea>
        </div>
        <div class="form-group w-50">
            <input type="submit" value="Add Experience" class="btn btn-primary align-self-center w-100 fs-3">
        </div>
    </form>
</div>
<script src="./script/experience.js" />