{{!-- exp means experience --}}

<style>
    .exp-container {
        border-radius: 10px;
        min-height: 80vh;
    }

    .left-container,
    .right-container {
        border-radius: 10px;
    }

    .one-added-exp {
        border: 2px solid white;
        border-radius: 0px;
        opacity: 1;
        transition-property: opacity, border, border-radius;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }

    .one-added-exp:hover {
        border-width: 2px;
        border-color: #23e279;
        border-radius: 20px;
    }
</style>

<script src="/script/jQuery.js"></script>

<div class="exp-container w-100 min-h-100 d-flex flex-column">

    <h3 class="text-center text-primary fw-bold">Your Added
        Experiences</h3>

    <p class="fw-bold fs-3 text-warning text-wrap text-underline text-center w-100">
        {{message}}
    </p>

    <div class="left-container flex-grow-1 w-100 d-flex flex-wrap gap-3 p-2 justify-content-center align-items-center">

        {{#each thisExp}}
            <div class="one-added-exp card p-2 h-25">
                <div class="card-header">
                    <h4>Position:
                        <span class="text-primary fw-bold text-capitalize">
                            {{position}}
                        </span>
                    </h4>
                </div>
                <div class="card-body d-flex flex-wrap flex-column gap-1">
                    <h5 class="ps-3 card-title">Company :
                        <span class="text-primary fw-bold text-capitalize">
                            {{companyName}}
                        </span>
                    </h5>
                    <h5 class="ps-3 card-title">Start Date:
                        <span class="text-success fw-bold text-capitalize">{{startDate}}</span>
                    </h5>
                    <h5 class="ps-3 card-title">End Date:
                        <span class="text-danger fw-bold text-capitalize">
                            {{endDate}}
                        </span>
                    </h5>
                    <h5 class="ps-3 card-title">About The Experience</h5>
                    <h6 class="ps-3 card-text text-wrap">
                    <span class="text-success fw-bold text-capitalize text-wrap">
                        {{aboutExperience}}
                    </span>
                    </h6>
                    <button id="{{_id}}" type="button" class=" btn btn-danger d-flex align-self-center ">Delete</button>
                </div>

            </div>
        {{/each}}


    </div>

    <div class="d-flex justify-content-center p-3">
        <button
                type="button"
                class="button is-link"
                data-toggle="modal"
                data-target="#addExpModal" >
            Add New Education
        </button>
    </div>

    <!--    Modal-->

    <div class="modal fade"
         id="addExpModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true"
         role="modal">

        <form id="add-exp-form" method="post"
              action="experience">
            <div class="modal-dialog" role="document">
                <div class="modal-content px-0 mx-0">
                    <div class="modal-header d-flex">
                        <h4
                                class="modal-title text-primary flex-grow-1 d-flex justify-content-center"
                                id="loginModalLabel">
                            Adding New Experience
                        </h4>
                        <button
                                type="button"
                                class="close btn btn-danger border-0"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">
                                X
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label
                                for="position"
                                class="form-label w-100 fw-bold mt-4">
                                Position *
                        </label>
                        <input
                                type="text"
                                name="position"
                                class="form-control fw-bold px-2 fs-5"
                                required/>
                        <label
                                for="startDate"
                                class=" form-label w-100 fw-bold mt-4" >
                                Start Date *
                        </label>
                        <input
                                type="date"
                                name="startDate"
                                class="form-control fw-bold px-2 fs-5"
                                required />
                        <label
                                for="stillHere"
                                class="checkbox form-label fw-bold mt-4">
                            Still I work Here
                            <input
                                    id="checkbox"
                                    type="checkbox"
                                    name="stillHere"
                                    class="fw-bold px-2 fs-5">
                        </label>
                        <label
                                for="endDate"
                                class="form-label w-100 fw-bold mt-4">
                                End Date
                        <input
                                id="endDate"
                                type="date"
                                name="endDate"
                                class="form-control fw-bold px-2 fs-5">
                        </label>

                        <label
                                for="companyName"
                                class="form-label w-100 fw-bold mt-4">
                                Company Name
                        </label>
                        <input
                                type="text"
                                name="companyName"
                                class="form-control fw-bold px-2 fs-5"
                                required >

                        <label
                                for="aboutExperience"
                                class="form-label w-100 fw-bold mt-4 ">
                                About The Experience *
                        </label>
                        <textarea
                                name="aboutExperience"
                                id="about-me"
                                rows="2"
                                class="form-control fw-bold px-2 fs-5"
                                required
                        ></textarea>
                    </div>

                    <div class="modal-footer ">
                            <input
                                    id="submit-button"
                                    type="submit"
                                    value="Add Education"
                                    class="w-100 justify-content-center btn btn-success">
                        </div>
                    </div>
                </div>
        </form>
    </div>

</div>

<script src="/script/experience.js"></script>